*, *::after, *::before {
    box-sizing: border-box;
}

h1 {
    color: red;
}

#messages {
    width: 200px;
    height: 30px;
    background-color: lightblue;
    margin: 1em 0;
}

#board {

 display: grid;
 grid-template-columns: repeat(8, 50px);
 grid-row: repeat(8, 50px);
 justify-content: center;
 background-color: darkgreen;
 width: 440px;
 height: 440px;


}

.square {
    height: 50px;
    color: transparent;
    background-color: darkgreen;
    border: 1px black solid;
    border-radius: 50%;
    margin: 1px;


    display: flex;
    justify-content: center;
    align-items: center;


}

.square:hover {
    background-color: green;
}